h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
  padding: 0px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.02em;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  color: #717680;
}

.dashboard {
  display: none;
}

.header,
section {
  padding: 16px 0px;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 390px;
  padding: 0px 17px;
  justify-content: space-between;
}

/* хеадер */

.social-icon {
  fill: #5b4bdb;
}

.topbar_button {
  border-radius: 50px;
  width: 34px;
  height: 34px;
}

.social-icon-menu {
  stroke-width: 1.61px;
  stroke: #1f2937;
}

.avatar {
  width: 32px;
  height: 32px;
}

.button-button-img {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.social-icon-menu-b {
  stroke-width: 2px;
  stroke: #000;
}

.topbar-button-2 {
  background-color: transparent;
}

.my {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  align-items: center;
}

/* хедер початок */
.button_button_img {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.topbar_button {
  border-radius: 50px;
  width: 34px;
  height: 34px;
}

.topbar_button_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}

.social_icon_menu_b {
  stroke-width: 2px;
  stroke: #000;
}

/* хедер кінець */

.resources_a {
  position: relative;
  display: inline-block;
  padding-left: 40px; /* місце під стрілку */
  font-size: 24px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  color: #1f2937;
  text-decoration: none;
  margin-bottom: 20px;
}

.resources_a::before {
  content: "<"; /* або "<" якщо хочете просту */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: 600;
  font-weight: 590;
  font-size: 14px;
  line-height: 1.29412;
  text-align: center;
  color: #65676a;
}

.resources_search {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 15px;
  background: rgba(190, 190, 226, 0.2);
  padding: 0 8px;
  width: 352px;
  height: 31px;
  gap: 8px; /* відстань між іконкою та інпутом */
}

.resources_search-icon {
  fill: #6b7280;
  flex-shrink: 0; /* іконка не стискається */
}

.resources_search-input {
  flex: 1; /* інпут займає залишок місця */
  border: none;
  outline: none;
  background: transparent;
  font-family: "Inter", sans-serif;
  height: 100%;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #717680;
}

/* блок два початок */
.custom_block {
  display: flex;
  justify-content: space-between;
}

.text_left {
  font-weight: 500;
  font-size: 16px;
  color: #1f2937;
  font-family: "Inter", sans-serif;
  margin-right: 64px;
  /* margin-right: 2px; */
}

.custom_icon {
  fill: #6b7280;
  flex-shrink: 0;
}

.text_right {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #6c63ff;
  font-family: "Inter", sans-serif;
}

.custom_icon {
  fill: #6c63ff;
  stroke-width: 1px;
  stroke: #6c63ff;
}

.right_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.arrow_right,
.arrow_left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  fill: transparent;
  stroke-width: 1.5px;
  stroke: #717680;
}

/* Hover ефект */
.arrow_left:hover svg,
.arrow_right:hover svg {
  stroke: #1f2937;
}

.add_button {
  background-color: transparent;
}

/* блок два кінець */

/* фото блок початок */
.custom_card {
  position: relative;
  width: 120px;
  height: 130px;
  cursor: pointer;
}

/* Фон-блок */
.background_block {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 130px;
  background: #6c63ff;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  z-index: 1;
}

.use_2 {
  stroke-width: 0.42px;
  stroke: #1f2937;
}

/* Малий фото-блок */
.photo_block {
  position: absolute;
  top: 20px;
  left: 17px;
  width: 86px;
  height: 90px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  z-index: 2;
}

/* Прозорий overlay */
.overlay_block {
  position: absolute;
  top: 15px; /* ховаємо верхню частину */
  left: 20px;
  width: 86px;
  height: 90px;
  background: rgba(252, 252, 255, 0.7);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  transform: rotate(10deg);
  transition: all 0.3s ease;
  z-index: 3;
}

.custom_card:hover .overlay_block {
  top: 30px; /* опускається на місце */
  transform: rotate(5deg) translateX(5px); /* і трохи виїжджає вправо */
}

/* Основна іконка зі спрайту */
.main_icon {
  position: absolute;
  top: 53px;
  left: 0px;
  width: 121px;
  height: 80px;
  fill: #e5e7eb; /* початковий колір */
  box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: fill 0.3s;
  z-index: 4;
}

/* Hover - змінюємо колір */
.custom_card:hover .main_icon {
  fill: #00bfa6;
}

/* Хрестик зі спрайту */
.hover_button {
  position: absolute;
  top: 80px;
  left: 100px; /* підкоригувати під дизайн */
  z-index: 5;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Показати при hover */
.custom_card:hover .hover_button {
  opacity: 1;
}

.icon_text {
  position: absolute;
  top: 95px; /* регулюй вертикальне вирівнювання */
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: 500;
  color: #1f2937;
  pointer-events: none; /* щоб текст не заважав клікам по іконці */
  z-index: 6; /* вище ніж .main_icon */
}

.cards_wrapper {
  display: grid;
  /* align-items: center; */
  grid-template-columns: repeat(2, 1fr); /* 2 в ряд */
  column-gap: 71px; /* горизонтальний відступ */
  row-gap: 19px; /* вертикальний відступ */
  max-width: 300px; /* щоб 2 вміщались по ширині */
}

.icon_text {
  font-weight: 600;
  font-size: 18px;
  color: #1f2937;
  font-family: "Nunito", sans-serif;
}

.custom_card:hover .icon_text {
  color: #1f2937; /* новий колір при hover */
}
/* фото блок кінець */

/* нижня частина початок */
.bar {
  display: flex;
  justify-content: center;
  gap: 148px;
  align-items: center;
  /* padding: 12px 16px; */
  background: #fff;
}

.bar_title {
  font-size: 20px;
  font-weight: 700;
  color: #1f2937;
  margin: 0;
}

.bar_btn {
  display: flex;
  align-items: center;
  gap: 6px;
  /* border: 1px solid #6c63ff; */
  background: transparent;
  border-radius: 6px;
  /* padding: 6px 12px; */
  font-size: 14px;
  font-weight: 500;
  color: #6c63ff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bar_btn:hover {
  background: #6c63ff;
  color: #fff;
}

.bar_icon {
  fill: currentColor; /* щоб мінявся разом з текстом */
}

/* нижня частина кінець */
